h1{
    text-align: center;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    background-color: yellow;
    color:black;
    padding: 10px;
    text-decoration: none;
}

div{
    background-color: black;
    color:white;
    width:1200px;
    height: 150px;
    border-radius: 4px;
}

#{
    color: yellow;
}